/*
    Document   : general
    Created on : 29 sept. 2011, 09:21:03
    Author     : rudak
    Description:
        Style de la partie générale du bourrier.
*/

html{

}
body{
    margin: 0;
    padding: 0;
}

/* == ETC == */
