/*
    Document   : general
    Created on : 29 sept. 2011, 09:21:03
    Author     : rudak
    Description:
        Style de la partie générale du bourrier.
*/
@import url(http://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);
html{

}
body{
    margin: 0;
    padding: 0;
    background-color: #6cb6dd;
    color: #ADE0E0;
    font-family: 'Cousine', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Holtwood One SC', serif;
    margin: 0;
}




#user_bar{
    background-color: #000;
    height: 30px;
}
#user_bar p{
    margin: 0;
    line-height: 30px;
    float: right;
    margin-right: 10px;
}
#user_bar input{
    background-color: #2B89BA;
    border: none;
    text-align: center;
    color: #ADE0E0;
}
#user_bar input[type=submit]{
    vertical-align: middle;
    display: inline-block;
    width: 34px;
    height: 18px;
    background: transparent url(../imgs/bouton_ub_ok.png) left top no-repeat;
}

#user_bar input[type=submit]:hover{
    background-position: left bottom;
}
#conteneur{
    width: 950px;
    margin: 0 auto;
    background-color: #097db8;
}

header{
    height: 200px;
    background: #077bb4 url(../imgs/header.jpg) left top no-repeat;
}

nav{
    margin-top: 15px;
    width: 220px;
    float: left;
    position: fixed;
}

nav a{
    background-color: #2B89BA;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    margin: 5px auto;
    text-align: center;
    width: 80%;
    color: #ADE0E0;
}
nav a:hover{
    background-color: #6BABCB;
}

#content{
    width: 730px;
    float: right;
    min-height: 260px;
}
#content .titre_page{
    margin-top: 5px;
}
#content hr{
    border: none;
    height: 1px;
    background-color: #2B89BA;
    width: 90%;
}
footer{
    clear: both;
    height: 200px;
    background: #077bb4 url(../imgs/footer.jpg) left top no-repeat;
}
