RewriteEngine On
RewriteBase /lmdlm

# si on cherche a atteindre un fichier qui existe
# pas de rewriterule, sinon on apelle l'index

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule (.*) index.php/$1